html, body{
  margin: 0;
  padding: 0;
}

header {
  margin: 15px 0;
  padding: 0 15px;
}

.section {
  margin: 15px 0;
  padding: 0 15px;
}

.canvas-wrapper {
  background-color: #fafafa;
  display: inline-block;
}

footer {
  margin: 45px 0 0 0;
  padding: 30px 0px 30px 15px;
  border-top: solid 1px #eaeaea;
  border-bottom: solid 1px #eaeaea;
  background-color: #fafafa;
}
